spring:
  application:
    name: point-api-service
  batch:
    job:
      enabled: false
  main:
    allow-bean-definition-overriding: true

filebeat:
  service: pointapi
  domain: point

logging.level:
  com.kurly: DEBUG

---
spring.profiles: local

spring:
  datasource:
    hikari:
      driver-class-name: org.h2.Driver
      jdbc-url: jdbc:h2:mem:datafarm;MODE=MySQL;DATABASE_TO_LOWER=TRUE;DB_CLOSE_DELAY=-1;DB_CLOSE_ON_EXIT=FALSE
      username: sa
      pool-name: datafarm-pool
      data-source-properties:
        rewriteBatchedStatements: true
  jpa:
    properties:
      hibernate:
        format_sql: true
        show_sql: true
  h2:
    console:
      enabled: true

server:
  max-http-header-size: 32KB
  tomcat:
    max-connections: 20
    mbeanregistry:
      enabled: true
  port: 8080

notification:
  slack:
    bot:
      token: test
---
spring.profiles: dev

---
spring.profiles: stg

---
spring.profiles: prod
